@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}
body{
    background-image: linear-gradient(to right, #F2A35E, #F2F2F2) ;
}
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #915a3a93;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
    color: #8F84D9;
    text-align: center;
    text-shadow: 1px 1px 2px #5a538aaf;
}
h2{
    color: #F29863;
}
p{
    text-align: justify;
}
